aiogram==2.18
aioredis==2.0.1
anyio==3.5.0
APScheduler==3.8.1
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.10
deprecation==2.1.0
emoji==1.6.3
environs==9.4.0
geopy==2.2.0
gotrue==0.5.0
h11==0.12.0
httpcore==0.14.5
httpx==0.21.3
humanize==3.13.1
packaging==21.3
postgrest-py==0.8.1
pydantic==1.9.0
pyparsing==3.0.7
python-dateutil==2.8.2
realtime==0.0.4
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
supabase==0.3.2
timezonefinder==5.2.0
typing_extensions==4.0.1
websockets==9.1
